[Version]
Main=2
Sub=1
[Disturbance]
DisturbanceMode=2
NumOfDistPerCycle=32
PauseLimitedDisturbance=1
CycleLimitedDisturbance=1
DisturbanceDuration=1
[LimitedAndUnlimitedDisturbance]
DisturbanceSequence=1
DisturbanceUnit=1
[PermanentDisturbance]
PermanentDisturbanceType=2
[UsedTrigger]
Disturbance=6
Output=11
[ExternInput]
ExtInputUsage=1
TriggerEnableLevel=0
[ExtTrigger]
Condition=1
[ErrorFrame]
DominantBits=6
[BitfieldTrigger]
DisturbStuffBit=0
Can=1
[BitfieldTriggerSeq]
TriggerSequence=00001100100333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333
[PhysicalTriggerSeq]
TriggerSequence=2
[EndOfFrameBusIdle]
RecBits=11
[ManTrigger]
Mode=1
[ContinuousTrigger]
AutoStop=0
Duration=1000
[AnalogDistConfig]
R_H=0
R_HL=0
R_L=0
R_SH=0
R_SL=0
C_HL=0
R_H_State=1
R_SH_State=1
R_L_State=1
R_SL_State=1
R_HL_State=1
C_HL_State=1
SH_State=1
SL_State=1
ResLayoutType=1
[HwConfig]
Btr0=75
Btr1=20
CanInterface=1
ExternOutputLevel=1
FrequencyDeviation=0
[CANDB]
UsedDbs=D:\_CANwin\7.2\Demo_CAN_CN\MoreExamples\CANstress\CANdb\motbus.dbc;
UsedDbsRel=.\..\CANdb\motbus.dbc;
