/////////////////////////////////////////////////////////////////////////////

#include <windows.h>

#define _QUOTE(x) #x
#define QUOTE(x) _QUOTE(x)

#define MAJOR 1
#define MINOR 0
#define BUILD 0

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

1 VERSIONINFO
 FILEVERSION            MAJOR,MINOR,BUILD,0
 PRODUCTVERSION         MAJOR,MINOR,BUILD,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x3L
#else
 FILEFLAGS 0x2L
#endif
 FILEOS 0x10004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904e4"
        BEGIN
            VALUE "Comments",         "This DLL must be adapted to concrete system requirements"
            VALUE "CompanyName",      "Vector Informatik GmbH\0"
            VALUE "FileDescription",  "Example for a 'Seed & Key' DLL using extended algorithm with option"
            VALUE "FileVersion",      QUOTE(MAJOR) "." QUOTE(MINOR) "." QUOTE(BUILD)
            VALUE "InternalName",     "GenerateKeyExOpt"
            VALUE "LegalCopyright",   "© Copyright 2011 Vector Informatik GmbH\0"
            VALUE "LegalTrademarks",  "\0"
            VALUE "OriginalFilename", "GenerateKeyExOpt.DLL"
            VALUE "PrivateBuild",     "\0"
            VALUE "ProductName",      "CANoe/CANalyzer"
            VALUE "ProductVersion",   "8.0"
            VALUE "SpecialBuild",     "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END

/////////////////////////////////////////////////////////////////////////////
